# Copyright (C) 2026 unmoved21
# SPDX-License-Identifier: GPL-3.0-only

on init
    start vendor.qseecomd

# Runs after qseecomd starts
on property:vendor.sys.listeners.registered=true
    start vendor.ssgtzd
    start vendor.keymint-qti
    start vendor.gatekeeper_default

# Runs during post-fs-data
on property:ro.crypto.state=encrypted && property:twrp.firmware.mounted=true
    start vendor.keymint-strongbox
    start vendor.weaver-service
    start vendor.weaver_nxp
    start vendor.secure_element

# Runs after decryption
on property:twrp.all.users.decrypted=true
    stop keystore2
    stop vendor.secure_element
    stop se_omapi
    stop vendor.weaver-service
    stop vendor.weaver_nxp
    stop vendor.keymint-strongbox
    stop vendor.keymint-qti
    stop vendor.qseecomd
    stop vendor.ssgtzd
    stop vendor.gatekeeper_default

# Runs after decryption, and running touchscreen service 
on property:twrp.all.users.decrypted=true && property:init.svc.touchfeature-service=running
    umount /vendor/firmware_mnt
    umount /mnt/vendor/persist

    setprop twrp.firmware.mounted false
